<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- LEAVE HIGHWAY SIGNS -->
  <node
      name  = "LHIGH_1"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/leave_highway_sign/model.sdf -entity LHIGH_1 -x 4.560760 -y -1.384930 -z 0.078998 -R 0 -P 0 -Y 0"/>

  <node
      name  = "LHIGH_2"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/leave_highway_sign/model.sdf -entity LHIGH_2 -x 10.312300 -y -3.897600 -z 0.078998 -R 0 -P 0 -Y 3.139779"/>

</launch>
