<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- ONE WAY SIGNS -->
  <node
      name  = "ONW_1"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/oneway_sign/model.sdf -entity ONW_1 -x 4.243440 -y -14.522900 -z 0.078998 -R 0 -P 0 -Y 0.043443"/>

</launch>
