<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- PARKING SIGNS -->
  <node
      name  = "PW_1"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/parking_sign/model.sdf -entity PW_1 -x 6.367420 -y -14.502100 -z 0.078998 -R 0 -P 0 -Y 0"/>

  <node
      name  = "PW_2"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/parking_sign/model.sdf -entity PW_2 -x 6.368860 -y -13.967900 -z 0.078998 -R 0 -P 0 -Y 0"/>

</launch>
