<?xml version="1.0" encoding="UTF-8"?>

<launch> 
  
    <!-- PEDESTRIAN OBSTACLES -->
    <node
        name  = "PED_1"
        pkg   = "gazebo_ros"
        exec = "spawn_entity.py"
        args  = "-file $(find-pkg-share models_pkg)/pedestrian_object/model.sdf -entity PED_1 -x 4.019687 -y -6.592800 -z 0 -R 0 -P 0 -Y -1.570791"/>

    <node
        name  = "PED_2"
        pkg   = "gazebo_ros"
        exec = "spawn_entity.py"
        args  = "-file $(find-pkg-share models_pkg)/pedestrian_object/model.sdf -entity PED_2 -x 1.998 -y -6.320 -z 0 -R 0 -P 0 -Y 3.141589"/>
	
    <node
        name  = "PED_3"
        pkg   = "gazebo_ros"
        exec = "spawn_entity.py"
        args  = "-file $(find-pkg-share models_pkg)/pedestrian_object/model.sdf -entity PED_3 -x 0.172 -y -12.200 -z 0 -R 0 -P 0 -Y 3.141589"/>


</launch>
