<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- PRIORITY SIGNS -->
  <node
      name  = "PRIOR_1"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_1 -x 1.361317 -y -14.524393 -z 0.078998 -R 0 -P 0 -Y -0.011524"/>

  <node
      name  = "PRIOR_2"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_2 -x 2.872540 -y -14.507100 -z 0.078998 -R 0 -P 0 -Y -0.011522"/>

  <node
      name  = "PRIOR_3"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_3 -x 10.426800 -y -14.514600 -z 0.078998 -R 0 -P 0 -Y -0.011522"/>

  <node
      name  = "PRIOR_4"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_4 -x 0.067525 -y -3.366090 -z 0.078998 -R 0 -P 0 -Y -1.570801"/>

  <node
      name  = "PRIOR_5"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_5 -x 0.073268 -y -6.790090 -z 0.078998 -R 0 -P 0 -Y -1.570801"/>

  <node
      name  = "PRIOR_6"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_6 -x 0.069522 -y -9.971150 -z 0.078998 -R 0 -P 0 -Y -1.570801"/>

  <node
      name  = "PRIOR_7"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/priority_sign/model.sdf -entity PRIOR_7 -x 2.491064 -y -7.169462 -z 0.078998 -R 0 -P 0 -Y 3.137395"/>

</launch>
