<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- STOP SIGNS -->
  <node
      name  = "STO_1"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/stop_sign/model.sdf -entity STO_1 -x 1.089450 -y -7.176970 -z 0.137238 -R 0 -P 0 -Y -3.131781"/>

  <node
      name  = "STO_2"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/stop_sign/model.sdf -entity STO_2 -x 1.603370 -y -13.184300 -z 0.078998 -R 0 -P 0 -Y -1.570801"/>

  <node
      name  = "STO_3"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/stop_sign/model.sdf -entity STO_3 -x 4.937620 -y -11.339200 -z 0.078998 -R 0 -P 0 -Y 1.571696"/>

  <node
      name  = "STO_4"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/stop_sign/model.sdf -entity STO_4 -x 10.737200 -y -9.958840 -z 0.078998 -R 0 -P 0 -Y -1.562594"/>

  <node
      name  = "STO_5"
      pkg   = "gazebo_ros"
      exec = "spawn_entity.py"
      args  = "-file $(find-pkg-share models_pkg)/stop_sign/model.sdf -entity STO_5 -x 10.743907 -y -13.562353 -z 0.078998 -R 0 -P 0 -Y -1.562590"/>

</launch>
